*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
#btn{
    align-items: center;
    width: 200px;
    margin: 10px;
    justify-content: center;
}
.container{
    width: 500px;
    height: 500px;
    margin: 5px auto;
}
.rowDivs{
    border: 1px solid black;
    display:flex;
    justify-content: center;  
    align-items: center;
}
.colDivs{
    border-right: 1px solid black;
}
.btn{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px gray;
    align-items: center;
}