*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-shadow: 2px 2px 1px grey;
    font-weight: bolder;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 4px 4px 3px rgb(153, 224, 200);;
    background-color: aquamarine;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn{
    align-self:center;
    width: 200px;
    margin: 10px;
    justify-content: center;
}
.container{
    width: 960px;
    height: 840px;
    margin:10px;
    background-color: rgb(235, 225, 225);
    box-shadow: 4px 4px 2px grey;
    border-radius: 5px;
}
.rowDivs{
    border: 1px solid black;
    display:flex;
    justify-content: center;  
    align-items: center;
}
.colDivs{
    border-right: 1px solid black;
}
.btn{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px gray;
    align-items: center;
}